body{
    background-color: #c6e3ecbe;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }

button{
    margin-bottom: 50px;
    
    }

#tx{
    margin-top: 40px;
    text-align: center;
}    

table{
    
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
/*background-color: #ffffff;*/

}

#list{
    /*margin: 50px;*/
    /*padding: 50px;*/
    /*background-color: #ffffff;*/
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

p{
    padding:20px;
    background-color: #fffefe;
    
}

h1{
    color:#9ec4e7b2;
}

#inf{
    color:#1b578fb2;
}

#st{
    color: #1b578fb2;
    font-size: 60px;
}
#sm{
    color: #1b578fb2;
    font-size: 15px;
}