body{
background-color: #ceedf7bd;

}
table{
    
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
/*background-color: #ffffff;*/

}
#k{
    
    text-align: center;
}

button{
margin-bottom: 50px;

}

#list{
    /*margin: 50px;*/
    /*padding: 50px;*/
    /*background-color: #ffffff;*/
    border-collapse: separate;
    border-spacing: 0px 10px;
}

tr{
    padding:20px;
    background-color: #ffffff;
}